{% extends 'accounts/base.html' %}

{% block main %}
	<h1>Update Password</h1>
	
	<form action="" method="post">
		{{ form.non_field_errors }}
		<p>
			<label for="id_password">Password:</label>
			{{ form.password }}
			{{ form.password.help_text }}
			{{ form.password.errors }}
		</p>
		<p>
			<label for="id_password_confirm">Confirm Password:</label>
			{{ form.password_confirm }}
			{{ form.password_confirm.help_text }}
			{{ form.password_confirm.errors }}
		</p>
		<p class="buttons">
			<input type="submit" value="Update Password" />
			<a href="{% url account_home %}"><input type="button" value="Cancel" /></a>
		</p>
	</form>
{% endblock main %}

{% block sidebar %}
	<div class="widget">
		<h3>Helpful Tips</h3>
	
		<ul>
			<li>
				It is very good practice to update your password periodically. Say every 90 days.
				<br />
				<br />
			</li>
		</ul>
	</div>
{% endblock %}